<% if(success_msg != ""){ %>

    <p class="flash-message">   <%= success_msg %> </p>
   <% } %>
   
   <% if(error_msg != ""){ %>
   
   <p class="flash-message">  <%= error_msg %> </p>
   <% } %>
   
   <% if(error != ""){ %>
   
     <p class="flash-message">  <%= error %> </p>
     <% } %>
   